.CategoryList {
  color: var(--text-light);
  list-style: none;
  padding: 0;
  font-size: 1.7vw;
}

.CategoryList li {
  padding: .6vmin;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
}
    
.CategoryList li:hover:not(.active) {
  cursor: pointer;
  background-color: var(--dark-grey);
  color: #7D7D7D;
}

.CategoryList li.active {
  color: var(--text-light);
  background-color: var(--dark-grey);
  border: .1vmin solid var(--tan-3);
}